:root 
{
    --cmp-f-1: "Poppins", sans-serif;

    --cmp-c-Red: hsl(0, 78%, 62%);
    --cmp-c-Cyan: hsl(180, 62%, 55%);
    --cmp-c-Orange: hsl(34, 97%, 64%);
    --cmp-c-Blue: hsl(212, 86%, 64%);
    
    
    --cmp-c-VeryDarkBlue: hsl(234, 12%, 34%);
    --cmp-c-GrayishBlue: hsl(229, 6%, 66%);
    --cmp-c-VeryLightGray: hsl(0, 0%, 98%);
    --cmp-c-White:white;
}


body {
    margin:0;
}

* {
    box-sizing: border-box;
}

* :last-child {
    margin-bottom: 0;
}

* :first-child {
    margin-top: 0;
}




/* Typography */

html {
    font-size: 15px;
}

.cmp {
    font-family: var(--cmp-f-1);
    line-height: 1.6;
    color: var(--cmp-c-GrayishBlue);
}

.cmp__title, .cmp__subtitle 
{
    color: var(--cmp-c-VeryDarkBlue);
    font-size: 1.6em;
    letter-spacing: 0.004em;
}

.cmp__title {
    font-weight: 200;
}

.cmp__subtitle {
    font-weight: 600;
}


.cmp__card-title {
    font-size: 1.33rem;
    font-weight: 600;
    color: var(--cmp-c-VeryDarkBlue);
}

.cmp__card-body {
    font-size: .86rem;
    line-height: 1.7;
}


@media (min-width:1000px)
{
    .cmp__title, .cmp__subtitle {
        font-size: 2.4rem;
    }
}


/* Layout */

.cmp 
{
    padding: 5.3em 6.4%;
    text-align: center;
    background-color: var(--cmp-c-VeryLightGray);
}

.cmp__header 
{
    margin-bottom: 5em;
}

.cmp__title {
    margin-bottom: 0;
}

.cmp__subtitle {
    margin-top: 0;
}

.cmp__main {
    display: flex;
    flex-direction: column;
    gap: 1.6em;
}

.cmp__card {
    background-color: var(--cmp-c-White);
    text-align: left;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.8em;
    border-radius: 8px;
    border-top-width: 3.55px;
    border-top-style: solid;
    box-shadow: 0px 4px 4px hsla(0,0%,0%, 25%);
}

.cmp__card--1 
{
    border-color: var(--cmp-c-Cyan);
}

.cmp__card--2 
{
    border-color: var(--cmp-c-Red);
}

.cmp__card--3 
{
    border-color: var(--cmp-c-Orange);
}

.cmp__card--4 
{
    border-color: var(--cmp-c-Blue);
}

.cmp__card-img {
    display: block;
    margin-left: auto;
    margin-top: 2.2em;
}


@media (min-width: 1000px)
{
    .cmp__main {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        align-items: center;
    }

    .cmp__card--1 {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }

    .cmp__card--2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .cmp__card--3 
    {
        grid-column: 2 / 3;
        grid-row: 2 / -1;
    }

    .cmp__card--4 {
        grid-column: 3 / -1;
        grid-row: 1 / -1;
    }
  


}